body {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #32cd32;
  font-family: Impact;
  font-style: normal;
  font-weight: 800;
  margin: 0;
}

h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  margin: 0.5rem;
}
